<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Contácteme</title>
    <script src="https://kit.fontawesome.com/33782c52ea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/contactoStyle.css" />
    <link rel="stylesheet" href="~/Content/ShoppingCartStyle.css" />
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
          rel="stylesheet" />
</head>
<body>
    <div class="ContactBody">
        <section class="contacto" style="width: 1290px;">
            <img src="~/images/person_2.jpg" style="float:left; width:180px;height:180px; margin-left:10px; margin-right:50px; margin-bottom:10px" alt="..." class="rounded float-left">
            <h1>Nuestra historia</h1>
            <h5>
                Un Poco de Nosotros
            </h5>
            <p>
                Aunque Segnini's Pizza es una franquicia internacional, en Costa Rica, está integrada por talento tico, que a diario busca unir amigos o familias, con nuestras deliciosas pizzas. Ese es nuestro secreto: tus momentos especiales + pizza con sabor único y especial.

                Con más de cuarenta años en el mercado, hemos logrados ser parte de la historia de muchas familias costarricenses, desde con nuestra clásica canción de cumpleaños, hasta con momentos de tu día a día, como un almuerzo entre compañeros de trabajo. ¡Porque tenemos sabores, tamaños y toppings para todos los gustos!

                Además, siempre nos hemos esforzado para complacerte, por eso desde los 90’s has podido contar con nuestros motorizados rojos, y hoy en día, nos hemos modernizado con aplicaciones digitales para que sigás ordenando desde la comodidad de tu casa. ¡Lo que sea para que disfrutés de un slice de tu pizza favorita!
            </p>
            <h5>
                Nuestras metas.
            </h5>
            <p>
                Más que pizzas, queremos hacer felices a nuestros clientes. A fin de cuentas, cuando nos buscás, es porque deseás pasar un buen momento y por eso nuestro objetivo principal siempre será dártelo. Cada uno de los slices de Segnini's Pizza, está hecho con masa fresca e ingredientes de primera y son preparados con pasión por nuestros colaboradores para seguir llevándote ese sabor único e innovación a tu mesa.
            </p>
            <p>
                Nosotros enseñamos a Costa Rica a comer pizza y eso no solo nos llena de orgullo, sino que también nos hace sonreír a diario. A lo largo de nuestra historia, nos esforzamos para que nuestro sabor llegará a los lugares más remotos del país, con unidades móviles que tuvieran el sabor del famoso techo rojo. Además creamos el concepto “express”, porque sabemos que a veces no dan ganas de salir de casa pero el antojo no se quita.
            </p>
            <p>
                Inventamos para el tico, nuestras famosas pizzas con queso en el borde y los que posicionaron una famosa tonada que todos escuchamos año a año: “Feliz cumpleaños te deseamos a ti, con cariño en este día especial, Segnini's Pizza te desea a ti, muchos años de felicidad”

                Con todo esto y más, esperamos que con cada bocado que disfrutés con esas personas especiales, creés recuerdos inolvidables.
            </p>
            <h5>
                De dónde venimos
            </h5>
            <p>
                Segnini's Pizza es una marca global con presencia en 104 países y llegó a Costa Rica en 1972, gracias al sueño de una familia costarricense, que creía que cada hogar de nuestro país, merecía tener este delicioso sabor en su mesa.
                Así fue como la familia Gutiérrez inició esta gran aventura y años después, su sueño se ha concretado en más de 60 restaurantes. Muchos de ellos en los centros de las principales ciudades del país, otros en centros comerciales, algunas unidades móviles y otros restaurantes especializados en servicio a domicilio.
            </p>
            <p>
                En cada uno de nuestros restaurantes, nuestros colaboradores trabajan con dedicación, para lograr la perfección a la que estás acostumbrado y por esta misma razón, innovamos con nuevos productos cada vez que podemos. No importa dónde estemos, cada uno de nuestros clientes, siempre encontrará algo único en nuestra cadena: la consistencia. Ese sabor único en cualquiera de nuestras especialidades, pastas o promociones, porque para nuestra empresa y para nuestros 1.200 empleados, la felicidad de los pizza lovers, va primero. Y no solo nos importa la felicidad de los clientes, sino también la felicidad, del país en el que vivimos y por eso contamos con diversos programas de ayuda:
            </p>
            <p>
                • Programa “Sin etiquetas”: Dedicado a dar empleo en nuestros restaurantes a personas con necesidades especiales. • Programa “Slices de alegría”: Anualmente distribuye más de 40.000 libros a diferentes escuelas, para potenciar la capacidad de aprendizaje y de conocimiento de los niños de Costa Rica. • Campañas “Unidos Salvando Vidas”: Un programa de donación de sangre que se realiza de la mano del Banco Nacional de Sangre para ayudar a cubrir las necesidades de este insumo en los hospitales de Costa Rica.
            </p>
            <p>
                • Programa "Libres de plásticos de un solo uso”: Como parte de nuestro compromiso social, añadimos una línea más de enfoque para minimizar el impacto ambiental asociado a la utilización de plásticos de un solo uso en nuestra operación, cuyo propósito es la sustitución del 100% de estos insumos por alternativas más amigables con el medio ambiente.
            </p>
            <p>
                • Programa “Bandera Azul Ecológica”: Somos parte de esta iniciativa desde el 2013, mediante el fortalecimiento de una cultura laboral orientada al cuidado de los recursos naturales, así como la ejecución de acciones coordinadas. Estamos ansiosos de seguir horneando éxitos al lado de los costarricenses, mirá algunos de los logros que hemos obtenido en los últimos 40 años acá:
            </p>
        </section>
        
    </div>
</body>
</html>
